<!DOCTYPE html>
<html>
<body>
    {% if user.is_authenticated %}
        {% if user.email|default:""|slice:"-22:" == "@iesesteveterradas.cat" %}
            <p>You are logged in as <strong>{{ user.username }}</strong> with <strong>{{ user.email }}</strong>!</p>
        {% else %}
            <p>invalid email <strong>{{ user.email }}</strong></p>
        {% endif %}
        <a href="{# url 'socialauth_disconnect' 'google-oauth2' #}">Disconnect</a> <!-- No va, estoy probando cosas para el logut" -->
    {% else %}
        <p>You should log in first</p>
    {% endif %}
</body>
</html>
